

.parallax-container .parallax-bkg {
	content: " ";
	height: 100%;
	width: 100%;
	display: block;
	position: relative;
	top: -100%;
	transition: opacity 0.3s;
}

.parallax-container.io {
	transition: transform 0.3s;
}